.pinkBG{
    background-color: pink;
}
div{
    background-color: red;
}
.greenBG{
    background-color: green;
}
.redBG{
    background-color: red;
}
.yellowBG{
    background-color: yellow;
}
.blueBG{
    background-color: blue;
}